# Setting up this notebook

In [171]:
# to support python 2 and python 3
from __future__ import division, print_function, unicode_literals

import os
import numpy as np
# to make this notebook's output stable across runs
np.random.seed(42)

# to make plots
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt

HOUSING_PATH = "datasets/titanic"
# getting a dataframe object from the csv file
import pandas as pd
def load_housing_data(path,housing_path=HOUSING_PATH):
    csv_path = os.path.join(housing_path, path)
    return pd.read_csv(csv_path)
titanic = load_housing_data(path = "train.csv")
titanic_test = load_housing_data(path = "test.csv")

In [172]:
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [173]:
titanic = titanic.drop("Name",axis = 1)
titanic = titanic.drop("Ticket",axis = 1)
titanic = titanic.drop("Cabin",axis = 1)
titanic = titanic.drop("PassengerId",axis = 1)
titanic_test = titanic_test.drop("Name",axis = 1)
titanic_test = titanic_test.drop("Ticket",axis = 1)
titanic_test = titanic_test.drop("Cabin",axis = 1)
titanic_test = titanic_test.drop("PassengerId",axis = 1)

In [174]:
codes, uniques = pd.factorize(pd.concat([titanic['Sex'], titanic_test['Sex']]))
titanic['Sex'] = codes[:len(titanic)]
titanic_test['Sex'] = codes[len(titanic):]
titanic

     Survived  Pclass  Sex   Age  SibSp  Parch      Fare Embarked
0           0       3    0  22.0      1      0    7.2500        S
1           1       1    1  38.0      1      0   71.2833        C
2           1       3    1  26.0      0      0    7.9250        S
3           1       1    1  35.0      1      0   53.1000        S
4           0       3    0  35.0      0      0    8.0500        S
5           0       3    0   NaN      0      0    8.4583        Q
6           0       1    0  54.0      0      0   51.8625        S
7           0       3    0   2.0      3      1   21.0750        S
8           1       3    1  27.0      0      2   11.1333        S
9           1       2    1  14.0      1      0   30.0708        C
10          1       3    1   4.0      1      1   16.7000        S
11          1       1    1  58.0      0      0   26.5500        S
12          0       3    0  20.0      0      0    8.0500        S
13          0       3    0  39.0      1      5   31.2750        S
14          0       3    1  14.0      0      0    7.8542        S
15          1       2    1  55.0      0      0   16.0000        S
16          0       3    0   2.0      4      1   29.1250        Q
17          1       2    0   NaN      0      0   13.0000        S
18          0       3    1  31.0      1      0   18.0000        S
19          1       3    1   NaN      0      0    7.2250        C
20          0       2    0  35.0      0      0   26.0000        S
21          1       2    0  34.0      0      0   13.0000        S
22          1       3    1  15.0      0      0    8.0292        Q
23          1       1    0  28.0      0      0   35.5000        S
24          0       3    1   8.0      3      1   21.0750        S
25          1       3    1  38.0      1      5   31.3875        S
26          0       3    0   NaN      0      0    7.2250        C
27          0       1    0  19.0      3      2  263.0000        S
28          1       3    1   NaN      0      0    7.8792        Q
29          0       3    0   NaN      0      0    7.8958        S
..        ...     ...  ...   ...    ...    ...       ...      ...
861         0       2    0  21.0      1      0   11.5000        S
862         1       1    1  48.0      0      0   25.9292        S
863         0       3    1   NaN      8      2   69.5500        S
864         0       2    0  24.0      0      0   13.0000        S
865         1       2    1  42.0      0      0   13.0000        S
866         1       2    1  27.0      1      0   13.8583        C
867         0       1    0  31.0      0      0   50.4958        S
868         0       3    0   NaN      0      0    9.5000        S
869         1       3    0   4.0      1      1   11.1333        S
870         0       3    0  26.0      0      0    7.8958        S
871         1       1    1  47.0      1      1   52.5542        S
872         0       1    0  33.0      0      0    5.0000        S
873         0       3    0  47.0      0      0    9.0000        S
874         1       2    1  28.0      1      0   24.0000        C
875         1       3    1  15.0      0      0    7.2250        C
876         0       3    0  20.0      0      0    9.8458        S
877         0       3    0  19.0      0      0    7.8958        S
878         0       3    0   NaN      0      0    7.8958        S
879         1       1    1  56.0      0      1   83.1583        C
880         1       2    1  25.0      0      1   26.0000        S
881         0       3    0  33.0      0      0    7.8958        S
882         0       3    1  22.0      0      0   10.5167        S
883         0       2    0  28.0      0      0   10.5000        S
884         0       3    0  25.0      0      0    7.0500        S
885         0       3    1  39.0      0      5   29.1250        Q
886         0       2    0  27.0      0      0   13.0000        S
887         1       1    1  19.0      0      0   30.0000        S
888         0       3    1   NaN      1      2   23.4500        S
889         1       1    0  26.0      0      0   30.0000        C
890         0       3    0  32.0      0      0    7.7500        Q

[891 rows x 8 columns]

In [175]:
codes, uniques = pd.factorize(pd.concat([titanic['Embarked'], titanic_test['Embarked']]))
titanic['Embarked'] = codes[:len(titanic)]
titanic_test['Embarked'] = codes[len(titanic):]
titanic

     Survived  Pclass  Sex   Age  SibSp  Parch      Fare  Embarked
0           0       3    0  22.0      1      0    7.2500         0
1           1       1    1  38.0      1      0   71.2833         1
2           1       3    1  26.0      0      0    7.9250         0
3           1       1    1  35.0      1      0   53.1000         0
4           0       3    0  35.0      0      0    8.0500         0
5           0       3    0   NaN      0      0    8.4583         2
6           0       1    0  54.0      0      0   51.8625         0
7           0       3    0   2.0      3      1   21.0750         0
8           1       3    1  27.0      0      2   11.1333         0
9           1       2    1  14.0      1      0   30.0708         1
10          1       3    1   4.0      1      1   16.7000         0
11          1       1    1  58.0      0      0   26.5500         0
12          0       3    0  20.0      0      0    8.0500         0
13          0       3    0  39.0      1      5   31.2750         0
14          0       3    1  14.0      0      0    7.8542         0
15          1       2    1  55.0      0      0   16.0000         0
16          0       3    0   2.0      4      1   29.1250         2
17          1       2    0   NaN      0      0   13.0000         0
18          0       3    1  31.0      1      0   18.0000         0
19          1       3    1   NaN      0      0    7.2250         1
20          0       2    0  35.0      0      0   26.0000         0
21          1       2    0  34.0      0      0   13.0000         0
22          1       3    1  15.0      0      0    8.0292         2
23          1       1    0  28.0      0      0   35.5000         0
24          0       3    1   8.0      3      1   21.0750         0
25          1       3    1  38.0      1      5   31.3875         0
26          0       3    0   NaN      0      0    7.2250         1
27          0       1    0  19.0      3      2  263.0000         0
28          1       3    1   NaN      0      0    7.8792         2
29          0       3    0   NaN      0      0    7.8958         0
..        ...     ...  ...   ...    ...    ...       ...       ...
861         0       2    0  21.0      1      0   11.5000         0
862         1       1    1  48.0      0      0   25.9292         0
863         0       3    1   NaN      8      2   69.5500         0
864         0       2    0  24.0      0      0   13.0000         0
865         1       2    1  42.0      0      0   13.0000         0
866         1       2    1  27.0      1      0   13.8583         1
867         0       1    0  31.0      0      0   50.4958         0
868         0       3    0   NaN      0      0    9.5000         0
869         1       3    0   4.0      1      1   11.1333         0
870         0       3    0  26.0      0      0    7.8958         0
871         1       1    1  47.0      1      1   52.5542         0
872         0       1    0  33.0      0      0    5.0000         0
873         0       3    0  47.0      0      0    9.0000         0
874         1       2    1  28.0      1      0   24.0000         1
875         1       3    1  15.0      0      0    7.2250         1
876         0       3    0  20.0      0      0    9.8458         0
877         0       3    0  19.0      0      0    7.8958         0
878         0       3    0   NaN      0      0    7.8958         0
879         1       1    1  56.0      0      1   83.1583         1
880         1       2    1  25.0      0      1   26.0000         0
881         0       3    0  33.0      0      0    7.8958         0
882         0       3    1  22.0      0      0   10.5167         0
883         0       2    0  28.0      0      0   10.5000         0
884         0       3    0  25.0      0      0    7.0500         0
885         0       3    1  39.0      0      5   29.1250         2
886         0       2    0  27.0      0      0   13.0000         0
887         1       1    1  19.0      0      0   30.0000         0
888         0       3    1   NaN      1      2   23.4500         0
889         1       1    0  26.0      0      0   30.0000         1
890         0       3    0  32.0      0      0    7.7500         2

[891 rows x 8 columns]

In [176]:
titanic.mean()
titanic["Age"].fillna(titanic.mean()["Age"],inplace = True)
titanic_test["Age"].fillna(titanic.mean()["Age"],inplace = True)
titanic

     Survived  Pclass  Sex        Age  SibSp  Parch      Fare  Embarked
0           0       3    0  22.000000      1      0    7.2500         0
1           1       1    1  38.000000      1      0   71.2833         1
2           1       3    1  26.000000      0      0    7.9250         0
3           1       1    1  35.000000      1      0   53.1000         0
4           0       3    0  35.000000      0      0    8.0500         0
5           0       3    0  29.699118      0      0    8.4583         2
6           0       1    0  54.000000      0      0   51.8625         0
7           0       3    0   2.000000      3      1   21.0750         0
8           1       3    1  27.000000      0      2   11.1333         0
9           1       2    1  14.000000      1      0   30.0708         1
10          1       3    1   4.000000      1      1   16.7000         0
11          1       1    1  58.000000      0      0   26.5500         0
12          0       3    0  20.000000      0      0    8.0500         0
13          0       3    0  39.000000      1      5   31.2750         0
14          0       3    1  14.000000      0      0    7.8542         0
15          1       2    1  55.000000      0      0   16.0000         0
16          0       3    0   2.000000      4      1   29.1250         2
17          1       2    0  29.699118      0      0   13.0000         0
18          0       3    1  31.000000      1      0   18.0000         0
19          1       3    1  29.699118      0      0    7.2250         1
20          0       2    0  35.000000      0      0   26.0000         0
21          1       2    0  34.000000      0      0   13.0000         0
22          1       3    1  15.000000      0      0    8.0292         2
23          1       1    0  28.000000      0      0   35.5000         0
24          0       3    1   8.000000      3      1   21.0750         0
25          1       3    1  38.000000      1      5   31.3875         0
26          0       3    0  29.699118      0      0    7.2250         1
27          0       1    0  19.000000      3      2  263.0000         0
28          1       3    1  29.699118      0      0    7.8792         2
29          0       3    0  29.699118      0      0    7.8958         0
..        ...     ...  ...        ...    ...    ...       ...       ...
861         0       2    0  21.000000      1      0   11.5000         0
862         1       1    1  48.000000      0      0   25.9292         0
863         0       3    1  29.699118      8      2   69.5500         0
864         0       2    0  24.000000      0      0   13.0000         0
865         1       2    1  42.000000      0      0   13.0000         0
866         1       2    1  27.000000      1      0   13.8583         1
867         0       1    0  31.000000      0      0   50.4958         0
868         0       3    0  29.699118      0      0    9.5000         0
869         1       3    0   4.000000      1      1   11.1333         0
870         0       3    0  26.000000      0      0    7.8958         0
871         1       1    1  47.000000      1      1   52.5542         0
872         0       1    0  33.000000      0      0    5.0000         0
873         0       3    0  47.000000      0      0    9.0000         0
874         1       2    1  28.000000      1      0   24.0000         1
875         1       3    1  15.000000      0      0    7.2250         1
876         0       3    0  20.000000      0      0    9.8458         0
877         0       3    0  19.000000      0      0    7.8958         0
878         0       3    0  29.699118      0      0    7.8958         0
879         1       1    1  56.000000      0      1   83.1583         1
880         1       2    1  25.000000      0      1   26.0000         0
881         0       3    0  33.000000      0      0    7.8958         0
882         0       3    1  22.000000      0      0   10.5167         0
883         0       2    0  28.000000      0      0   10.5000         0
884         0       3    0  25.000000      0      0    7.0500         0
885         0       3    1  39.000000      0      5   29.1250         2
886         0       2    0  27.000000      0      0   13.0000         0
887         1       1    1  19.000000      0      0   30.0000         0
888         0       3    1  29.699118      1      2   23.4500         0
889         1       1    0  26.000000      0      0   30.0000         1
890         0       3    0  32.000000      0      0    7.7500         2

[891 rows x 8 columns]

In [177]:
X,Y =titanic.drop("Survived",axis=1) ,titanic['Survived']

In [178]:
Y.shape

(891,)

In [179]:
from sklearn.model_selection import train_test_split
train_set, test_set = train_test_split(titanic, test_size = 0.2 , random_state = 42)
print(len(train_set), len(test_set))

712 179

In [180]:
X_train,y_train = train_set.drop("Survived",axis = 1),train_set['Survived']
X_test, y_test =  test_set.drop("Survived",axis = 1),test_set['Survived']

In [181]:
X_train

     Pclass  Sex        Age  SibSp  Parch      Fare  Embarked
331       1    0  45.500000      0      0   28.5000         0
733       2    0  23.000000      0      0   13.0000         0
382       3    0  32.000000      0      0    7.9250         0
704       3    0  26.000000      1      0    7.8542         0
813       3    1   6.000000      4      2   31.2750         0
118       1    0  24.000000      0      1  247.5208         1
536       1    0  45.000000      0      0   26.5500         0
361       2    0  29.000000      1      0   27.7208         1
29        3    0  29.699118      0      0    7.8958         0
55        1    0  29.699118      0      0   35.5000         0
865       2    1  42.000000      0      0   13.0000         0
595       3    0  36.000000      1      1   24.1500         0
239       2    0  33.000000      0      0   12.2750         0
721       3    0  17.000000      1      0    7.0542         0
81        3    0  29.000000      0      0    9.5000         0
259       2    1  50.000000      0      1   26.0000         0
486       1    1  35.000000      1      0   90.0000         0
716       1    1  38.000000      0      0  227.5250         1
800       2    0  34.000000      0      0   13.0000         0
781       1    1  17.000000      1      0   57.0000         0
542       3    1  11.000000      4      2   31.2750         0
326       3    0  61.000000      0      0    6.2375         0
534       3    1  30.000000      0      0    8.6625         0
535       2    1   7.000000      0      2   26.2500         0
483       3    1  63.000000      0      0    9.5875         0
762       3    0  20.000000      0      0    7.2292         1
533       3    1  29.699118      0      2   22.3583         1
713       3    0  29.000000      0      0    9.4833         0
390       1    0  36.000000      1      2  120.0000         0
495       3    0  29.699118      0      0   14.4583         1
..      ...  ...        ...    ...    ...       ...       ...
276       3    1  45.000000      0      0    7.7500         0
191       2    0  19.000000      0      0   13.0000         0
385       2    0  18.000000      0      0   73.5000         0
805       3    0  31.000000      0      0    7.7750         0
413       2    0  29.699118      0      0    0.0000         0
491       3    0  21.000000      0      0    7.2500         0
343       2    0  25.000000      0      0   13.0000         0
769       3    0  32.000000      0      0    8.3625         0
308       2    0  30.000000      1      0   24.0000         1
661       3    0  40.000000      0      0    7.2250         1
130       3    0  33.000000      0      0    7.8958         1
663       3    0  36.000000      0      0    7.4958         0
871       1    1  47.000000      1      1   52.5542         0
99        2    0  34.000000      1      0   26.0000         0
372       3    0  19.000000      0      0    8.0500         0
87        3    0  29.699118      0      0    8.0500         0
458       2    1  50.000000      0      0   10.5000         0
330       3    1  29.699118      2      0   23.2500         2
214       3    0  29.699118      1      0    7.7500         2
466       2    0  29.699118      0      0    0.0000         0
121       3    0  29.699118      0      0    8.0500         0
614       3    0  35.000000      0      0    8.0500         0
20        2    0  35.000000      0      0   26.0000         0
700       1    1  18.000000      1      0  227.5250         1
71        3    1  16.000000      5      2   46.9000         0
106       3    1  21.000000      0      0    7.6500         0
270       1    0  29.699118      0      0   31.0000         0
860       3    0  41.000000      2      0   14.1083         0
435       1    1  14.000000      1      2  120.0000         0
102       1    0  21.000000      0      1   77.2875         0

[712 rows x 7 columns]

In [182]:
from sklearn.linear_model import SGDClassifier

sgd_clf = SGDClassifier(random_state=42)
sgd_clf.fit(X_train, y_train)

/home/samagra/ml/env/lib/python3.5/site-packages/sklearn/linear_model/stochastic_gradient.py:84: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.stochastic_gradient.SGDClassifier'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)

SGDClassifier(alpha=0.0001, average=False, class_weight=None, epsilon=0.1,
       eta0=0.0, fit_intercept=True, l1_ratio=0.15,
       learning_rate='optimal', loss='hinge', max_iter=5, n_iter=None,
       n_jobs=1, penalty='l2', power_t=0.5, random_state=42, shuffle=True,
       tol=None, verbose=0, warm_start=False)

In [183]:
from sklearn.model_selection import cross_val_score
cross_val_score(sgd_clf, X_train, y_train, cv=3, scoring="accuracy")

array([ 0.62605042,  0.67510549,  0.62447257])

In [184]:
from sklearn.ensemble import RandomForestClassifier
forest_clf = RandomForestClassifier(random_state=42)
cross_val_score(forest_clf, X_train, y_train, cv=3,
                                    scoring = "accuracy")

array([ 0.79831933,  0.78481013,  0.8185654 ])

In [185]:
forest_clf.fit(X_train,y_train)
predictions = forest_clf.predict(X_test)

In [186]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,predictions)

0.78770949720670391

In [187]:
from sklearn.neighbors import KNeighborsClassifier
knn_clf = KNeighborsClassifier(n_jobs=-1, weights='distance', n_neighbors=8)
cross_val_score(knn_clf, X_train, y_train, cv=3,
                                    scoring = "accuracy")

array([ 0.70168067,  0.71729958,  0.74261603])

In [188]:
from sklearn.model_selection import GridSearchCV

param_grid = [
    # try 12 (3×4) combinations of hyperparameters
    {'n_neighbors': [2, 4, 6, 8,10]},
  ]
grid_search = GridSearchCV(knn_clf, param_grid, cv=5,
                           scoring='neg_mean_squared_error')
grid_search.fit(X_train, y_train)

GridSearchCV(cv=5, error_score='raise',
       estimator=KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=-1, n_neighbors=8, p=2,
           weights='distance'),
       fit_params=None, iid=True, n_jobs=1,
       param_grid=[{'n_neighbors': [2, 4, 6, 8, 10]}],
       pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
       scoring='neg_mean_squared_error', verbose=0)

In [189]:
grid_search.best_params_

{'n_neighbors': 8}

In [190]:
knn_clf.fit(X_train,y_train)
predictions =knn_clf.predict(X_test)

In [191]:
accuracy_score(y_test,predictions)

0.73743016759776536

In [192]:
forest_clf.fit(X,Y)
pred_for =forest_clf.predict(X_test)
accuracy_score(y_test,pred_for)

0.97206703910614523

In [207]:
np.where(pd.isnull(titanic_test))

(array([], dtype=int64), array([], dtype=int64))

In [203]:
titanic_t[152]

     Pclass  Sex        Age  SibSp  Parch      Fare  Embarked
0         3    0  34.500000      0      0    7.8292         2
1         3    1  47.000000      1      0    7.0000         0
2         2    0  62.000000      0      0    9.6875         2
3         3    0  27.000000      0      0    8.6625         0
4         3    1  22.000000      1      1   12.2875         0
5         3    0  14.000000      0      0    9.2250         0
6         3    1  30.000000      0      0    7.6292         2
7         2    0  26.000000      1      1   29.0000         0
8         3    1  18.000000      0      0    7.2292         1
9         3    0  21.000000      2      0   24.1500         0
10        3    0  29.699118      0      0    7.8958         0
11        1    0  46.000000      0      0   26.0000         0
12        1    1  23.000000      1      0   82.2667         0
13        2    0  63.000000      1      0   26.0000         0
14        1    1  47.000000      1      0   61.1750         0
15        2    1  24.000000      1      0   27.7208         1
16        2    0  35.000000      0      0   12.3500         2
17        3    0  21.000000      0      0    7.2250         1
18        3    1  27.000000      1      0    7.9250         0
19        3    1  45.000000      0      0    7.2250         1
20        1    0  55.000000      1      0   59.4000         1
21        3    0   9.000000      0      1    3.1708         0
22        1    1  29.699118      0      0   31.6833         0
23        1    0  21.000000      0      1   61.3792         1
24        1    1  48.000000      1      3  262.3750         1
25        3    0  50.000000      1      0   14.5000         0
26        1    1  22.000000      0      1   61.9792         1
27        3    0  22.500000      0      0    7.2250         1
28        1    0  41.000000      0      0   30.5000         0
29        3    0  29.699118      2      0   21.6792         1
..      ...  ...        ...    ...    ...       ...       ...
388       3    0  21.000000      0      0    7.7500         2
389       3    0   6.000000      3      1   21.0750         0
390       1    0  23.000000      0      0   93.5000         0
391       1    1  51.000000      0      1   39.4000         0
392       3    0  13.000000      0      2   20.2500         0
393       2    0  47.000000      0      0   10.5000         0
394       3    0  29.000000      3      1   22.0250         0
395       1    1  18.000000      1      0   60.0000         0
396       3    0  24.000000      0      0    7.2500         2
397       1    1  48.000000      1      1   79.2000         1
398       3    0  22.000000      0      0    7.7750         0
399       3    0  31.000000      0      0    7.7333         2
400       1    1  30.000000      0      0  164.8667         0
401       2    0  38.000000      1      0   21.0000         0
402       1    1  22.000000      0      1   59.4000         1
403       1    0  17.000000      0      0   47.1000         0
404       1    0  43.000000      1      0   27.7208         1
405       2    0  20.000000      0      0   13.8625         1
406       2    0  23.000000      1      0   10.5000         0
407       1    0  50.000000      1      1  211.5000         1
408       3    1  29.699118      0      0    7.7208         2
409       3    1   3.000000      1      1   13.7750         0
410       3    1  29.699118      0      0    7.7500         2
411       1    1  37.000000      1      0   90.0000         2
412       3    1  28.000000      0      0    7.7750         0
413       3    0  29.699118      0      0    8.0500         0
414       1    1  39.000000      0      0  108.9000         1
415       3    0  38.500000      0      0    7.2500         0
416       3    0  29.699118      0      0    8.0500         0
417       3    0  29.699118      1      1   22.3583         1

[418 rows x 7 columns]

In [206]:
titanic_test["Fare"].fillna(titanic.mean()["Fare"],inplace = True)

In [208]:
predict = forest_clf.predict(titanic_test)

In [211]:
submission = pd.DataFrame({
        "PassengerId": load_housing_data(path = "test.csv")["PassengerId"],
        "Survived": predict
    })

In [214]:
csv_path = os.path.join(HOUSING_PATH, "submission.csv")
submission.to_csv(csv_path, index=False)